import React from 'react';
import Helmet from 'react-helmet';
import { useTranslation } from 'react-i18next';

type Props = {};

const {{pascalCase name}} = (props: Props) => {
{{#if path}}
  const [t] = useTranslation('page__{{snakeCase name}}');
{{else}}
  const [t] = useTranslation('page__{{snakeCase path}}__{{snakeCase name}}');
{{/if}}

  return (
    <>
      <Helmet>
        <title>{t('pageTitle')}</title>
        <meta name="description" content={t('pageDescription')} />
      </Helmet>
      {{pascalCase name}} Page
    </>
  );
};

export default {{pascalCase name}};
